<div class="layout-main">
  <div class="layout-section bg-green/30 backdrop-invert backdrop-opacity-30">

    <h2 class="text-5xl"><%= @correct_count %> / <%= @total_questions %> 問正解！</h2>
    <p class="text-2xl mt-10">残念😢</p>
    <p class="text-2xl "><%= @category.name %>の民ではないようです・・・</p>
    <p class="text-2xl">全問正解するまで挑戦してみよう！</p>
   
      <div class="text-xl text-black mt-10 flex space-x-6">
        <%= link_to "もう一度挑戦", categories_path, class: "hover-action" %>

      <!-- Xシェア -->
        <%= link_to "Xでシェア","https://twitter.com/intent/tweet?" +
        "text=#{CGI.escape("世代別言葉クイズ！#{@category.name}カテゴリで#@correct_count}点だったよー！！！ないすー！")}" +
        "&url=#{root_url}" +
        "&hashtags=#{CGI.escape("世代別言葉クイズ")}",
        target: "_blank", rel: "noopener", class: "hover-action" %>

      </div>
    
    <!-- 紙吹雪 -->
    <script>
      confetti({
        particleCount: 100,
        spread: 70,
        origin: { y: 0.6 }
      });
    </script>
  </div>
</div>