<div class="layout-main">

    <%= render "shared/flash_message" %>


  <div class="layout-section bg-green/30 backdrop-invert backdrop-opacity-30 space-y-5 mt-10 text-2xl">
  <!-- 問題 -->
      <h1 class="text-black">Q問題:<%= @question.term %></h1>


    <!-- 解答 -->
    <%= form_with url: answer_quiz_question_path, method: :post, data: { turbo: false } do %>
      <div class="flex flex-col space-y-8" id="choices" data-correct="<%= @question.choices.find_by(correct: true)&.id %>">
        <% @question.choices.each do |choice| %>
          <div>
            <%= radio_button_tag :selected_choice_id, choice.id, false, id: "selected_choice_id_#{choice.id}", class: "hidden peer" %>
            <%= label_tag "selected_choice_id_#{choice.id}", choice.content, class: "choice-label" %>
          </div>
        <% end %>
      </div>

      <%= button_tag "回答", class: "text-black hover-action mt-8" %>
    <% end %>
  </div>
</div>