<h2><%= @question.term %></h2>
<%# 問題 %>
  <div class=''>問題</div>

<%# 解答 %>
<%= form_with url: quiz_answer_path, method: :post, data: { turbo: false }, local: true do %>
  <% @question.choices.each_with_index do |choice, index| %>
    <div>
      <%= radio_button_tag :answer, index + 1, false, id: "answer#{index + 1}" %>
      <%= label_tag "answer#{index + 1}", choice.content %>
    </div>
  <% end %>
  <%= submit_tag "回答する", class: "bg-green-500 text-white py-1 px-4 rounded mt-4" %>

<% end %>