<div class="layout-main">
  <div class="layout-section bg-green/30 backdrop-invert backdrop-opacity-30 space-y-5 mt-10 text-2xl">
  <!-- 問題 -->
      <h1 class="text-black">Q問題:<%= @question.term %></h1>


    <!-- 解答 -->
    <%= form_with url: quiz_answer_path, method: :post, local: true do %>
      <div class="flex flex-col space-y-8">
        <% @question.choices.each do |choice| %>
          <div>
            <!-- ラジオボタンは非表示に -->
            <%= radio_button_tag :answer, choice.id, false, id: "choice_#{choice.id}", class: "hidden peer" %>

            <!-- ラベルを装飾して選択肢UIに -->
            <%= label_tag "choice_#{choice.id}", class: "choice-label" do %>
              <%= choice.content %>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= button_tag "回答", class: "text-black hover-action mt-8" %>

    <% end %>
  </div>
</div>