<!DOCTYPE html>
<html>
  <head>
    <title>世代別言葉クイズ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= display_meta_tags(default_meta_tags) %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    
  </head>

  <body class="text-center font-dot">
    <div style="background-image: url('/images/mashu.png'); background-size: cover; background-position: center; height: 100vh;">
    <%= yield %>
    <!-- confetti ライブラリ読み込み -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.3.2/dist/confetti.browser.min.js"></script>
    </div>
  </body>
</html>
